//
// Footer
// --------------------------------------------------

.footer {

}
.footer-partners {
	background: #fff;
	padding: $spacer 0;
	img {
		display: inline-block;
	}
}
.footer-links {
    background: var(--primary-dark);
	&,
	a {
		color: #fff;
		font-size: $font-size-sm;
	}
}
.footer-links__list {
	li {
		position: relative;
		&:not(:last-of-type):after {
			@include media-breakpoint-up(sm) {
				content: '\2022';
				position: absolute;
				right: -4px;
				top: 52%;
                line-height: 0;
			}
		}
	}

}
