//
// Header
// --------------------------------------------------

// #F4F2F0

.header {
    height: 50px;
}
.header-logo {
    position: relative;
    z-index: 1;
}
.logo {
    display: inline-block;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: .95;
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    &:hover,
    &:focus {
        color: #fff;
        text-decoration: none;
    }
}
.logo-soy,
.logo-festival {
    display: block;
}
.logo-soy {
    font-size: 28px;
    transition: all .3s ease;
    // @include media-breakpoint-up(lg) {
    //  font-size: 32px;
    // }
    // .header--small & {
    //  @include media-breakpoint-up(lg) {
    //      font-size: 28px;
    //  }
    // }
}
.logo-festival {
    font-size: 12px;
    transition: all .3s ease;
    // @include media-breakpoint-up(lg) {
    //  font-size: 14px;
    // }
    // .header--small & {
    //  @include media-breakpoint-up(lg) {
    //      font-size: 12px;
    //  }
    // }
}
