//
// Layout
// --------------------------------------------------

body {
    min-height: 100vh;
}

.container-fluid {
    max-width: map-get($container-max-widths, 'xl');
}
.content {
    position: relative;
    margin-top: 50px;
    transition: all .3s ease-in-out;
    @include media-breakpoint-down(sm) {
        min-height: calc(100vh - 50px);
    }
    @include media-breakpoint-up(sm) {
        flex: 1;
    }
    // .home & {
    //     margin-top: 0 !important;
    //     padding-bottom: 0;
    // }
    .artist & {
        padding-bottom: 0 !important;
    }
    .header-small & {
        margin-top: 50px;
    }
}
