//
// Nav
// --------------------------------------------------

.nav {
    &::after {
        @include media-breakpoint-down(lg) {
            content: '';
            display: block;
            position: fixed;
            top: 50px;
            bottom: 0;
            left: 0;
            right: 0;
            background: $modal-backdrop-bg;
            opacity: 0;
            visibility: hidden;
            transition: visibility 0s linear .6s, opacity .6s $easeOutQuart;
            z-index: 4;
            will-change: visibility, opacity;
        }
    }
    .nav--open &::after {
        @include media-breakpoint-down(lg) {
            opacity: $modal-backdrop-opacity;
            visibility: visible;
            transition-delay: 0s;
        }
    }
}
.nav-container {
    @include media-breakpoint-down(xs) {
        width: 100%;
    }
    @include media-breakpoint-between(sm, lg) {
        min-width: 400px;
    }
    @include media-breakpoint-down(lg) {
        height: calc(100vh - 50px);
        position: fixed;
        top: 50px;
        bottom: 0;
        right: 0;
        background: var(--primary);
        z-index: 5;
        transform: translate3d(100%, 0, 0);
        transition: transform .7s $easeOutCirc;
        will-change: transform;
    }
    .nav--open & {
        @include media-breakpoint-down(lg) {
            overflow-y: auto;
            transform: translate3d(0, 0, 0);
        }
    }
}
.nav-menu__item {
    // @include media-breakpoint-up(lg) {
    //  text-align: center;
    //  display: table-cell;
    //  vertical-align: middle;
    //  position: relative;
    //  padding: 0 $spacer * .7;
    //  white-space: nowrap;
    // }
    // &:not(:last-of-type):after {
    //  @include media-breakpoint-up(lg) {
    //      content: '\2022';
    //      position: absolute;
    //      right: -3px;
    //  }
    // }
    @include media-breakpoint-down(md) {
        // opacity: 0;
        // transform: translate3d(0, 30px, 0);
        // transition: transform .5s $easeOutQuad 0s, opacity .5s $easeOutQuad 0s;
    }
    .nav--open & {
        // @include media-breakpoint-down(md) {
            // transform: translate3d(0, 0, 0);
            // opacity: 1;
            // transition-delay: .2s;
        // }
    }
    @for $i from 1 to 10 {
        .nav--open &:nth-child(#{$i}) {
            transition-delay: #{.1 + ($i / 15) }s;
        }
    }
}
.nav-menu__item a {
    font-family: Montserrat, sans-serif;
    font-size: $font-size-sm;
    letter-spacing: .1em;
    line-height: 1;
    position: relative;
    color: $white;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: var(--pink);
        z-index: -1;
        transform: scale3d(0, 1, 1);
        transform-origin: center left;
        transition: transform .25s $easeInOutCirc;
        will-change: transform;
        @include media-breakpoint-up(xl) {
            transform: scale3d(1, 0, 1);
            transform-origin: top center;
        }
    }
    &:hover {
        // color: var(--pink);
    }
    &:hover::before {
        transform: scale3d(1, 1, 1);
        transform-origin: center right;
        @include media-breakpoint-up(xl) {
            transform-origin: bottom center;
        }
    }
    svg {
        fill: currentColor;
    }
}
.nav-item-social {
    display: flex;
}
.nav-menu {
    @include media-breakpoint-down(lg) {

    }
}
.nav--open body {
    // @include media-breakpoint-down(md) {
        overflow: hidden;
    // }
}


.nav-burger {
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	border: 0;
	outline: none;
    background: transparent;
	@include size(50px);
    &:focus {
        outline: none;
    }
}

$burger-gutter: 5px;
$burger-height: 3px;
.nav-burger-icon {
	@include burger(30px, 2px, 6px, #fff);
	.nav--open & {
		@include burger-to-cross();
	}
}
