//
// Global
// --------------------------------------------------

::selection {
    color: #fff;
    background: var(--primary-dark);
    text-shadow: none;
}
html {
    -webkit-font-smoothing: antialiased;
}
a {
    transition: all .3s ease-in-out;
}
.text-line-through {
    text-decoration: line-through;
}
