//
// Breakpoints
// --------------------------------------------------

$xs-only: max-width breakpoint-max('xs');

$sm-up: breakpoint-min('sm');
$sm-only: breakpoint-min('sm') breakpoint-max('sm');
$sm-down: max-width breakpoint-max('sm');

$md-up: breakpoint-min('md');
$md-only: breakpoint-min('md') breakpoint-max('md');
$md-down: max-width breakpoint-max('md');

$lg-up: breakpoint-min('lg');
$lg-only: breakpoint-min('lg') breakpoint-max('lg');
$lg-down: max-width breakpoint-max('lg');

$xl-up: breakpoint-min('lg');
