

$colors: (
	'primary-lighter': #dfd9da,
	'primary-light': #ffcb51,
	'primary': #540244,
	'primary-dark': #24178d
);

//#f3f0ec

:root {
  --primary: #540244;
  --primary-dark: #24178d;
  --primary-light: #ffcb51;
  --primary-lighter: #dfd9da;
}
