<article class="col-12 col-sm-6 col-lg-4 artist-item {{ classes|default('') }}">
	<figure class="artist-item__content">
		<a href="{{ artist.link }}" class="artist-item__link d-block">
            {% set src = artist.image ?
                artist.image|thumbnail(5, 3) :
                'http://via.placeholder.com/5x3?text=%s'|format(artist.title|replace({' ': '+'}))
            %}
            {% set data_src = artist.image ?
                artist.image|thumbnail(500, 300) :
                'http://via.placeholder.com/500x300?text=%s'|format(artist.title|replace({' ': '+'}))
            %}
			<img
				src="{{ src }}"
				data-src="{{ data_src }}"
				width="450"
				height="310"
				class="img-fluid w-100 d-block lazyload"
				alt="{{ artist.title }} en concert au {{ app.config.get('general/sitename') }} à Nantes"
			/>
		</a>
		<figcaption class="artist-item__caption">
			<h2 class="artist-item__name">
				<a href="{{ artist.link }}" class="{{ artist.is_cancelled ? 'text-line-through' }}">{{ artist.title }}</a>
			</h2>
            {% if artist.is_full %}
            <div class="artist-item__full font-weight-bold text-uppercase text-white bg-danger">Complet</div>
            {% endif %}
		</figcaption>
        {% if artist.is_cancelled %}
        <div class="artist-item__cancelled text-white py-1 text-center">Annulé</div>
        {% endif %}
	</figure>
</article>
