<div class="col-12 col-md-4">
    <div class="booking-item text-center mb-2 mb-md-3">
        <div class="booking-item__inner">
            <h2 class="h4 mb-2">{{ dealer.title }}</h2>
            {% if dealer.price %}
            <div class="booking-item__price text-pink">{{ dealer.price }}</div>
            {% endif %}
            {% if dealer.description %}
            <div>{{ dealer.description|raw }}</div>
            {% endif %}
            {% if dealer.link_url and dealer.link_label %}
            <a href="{{ dealer.link_url }}" target="_blank" rel="noopener" class="btn btn-primary btn-block booking-item__action">{{ dealer.link_label }}</a>
            {% endif %}
        </div>
    </div>
</div>
