<div class="cover mb-2 mb-md-3 lazyload" {{ festival.cover ? 'data-bgset="%s"'|format(festival.cover|thumbnail(1600, 300))|raw }}>
	<div class="container-fluid">
		<h1 class="cover__title text-uppercase text-center">{{ title|default('Titre') }}</h1>
	</div>
</div>
