<footer class="footer text-center">
{#     {% if festival.partners and app.request.requestUri != '/map' %}
    <div class="footer-partners">
        <div class="container-fluid">
        	<div class="row">
                {% for partner in festival.partners %}
                <div class="col-12 col-lg-6">
                    <img
                        src="{{ img_placeholder(608, 93) }}"
                        data-src="/files/{{ partner.filename }}"
                        class="img-fluid d-block w-100 lazyload"
                    />
                </div>
                {% endfor %}
        	</div>
        </div>
    </div>
    {% endif %} #}
	<div class="footer-links py-2 py-sm-0">
		<div class="container-fluid">
			{{ menu('footer', 'components/menu-footer.twig') }}
		</div>
	</div>
</footer>
