<header class="header fixed-top d-flex justify-content-between bg-primary-dark text-white">
    <div class="header-logo d-flex align-items-center px-2">
		<a href="{{ paths.rooturl }}" class="logo">
			<span class="logo-soy">SOY</span>
			<span class="logo-festival">Festival</span>
		</a>
	</div>
	{# <div class="header-nav d-flex flex-grow-1"> #}
		{{ menu('nav', 'components/menu-header.twig') }}
	{# </div> #}
</header>
