<div class="book-melomane">
	<a href="http://melomane.fr/" target="_blank">
        <img
            src="{{ 'logo-melomane.jpg'|thumbnail(4, 3) }}"
            data-src="{{ 'logo-melomane.jpg'|thumbnail(400, 300) }}"
            class="img-fluid d-block w-100 lazyload"
        />
    </a>
	<div class="book-melomane-content text-center">
		2 quai Turenne - Nantes<br />
		02 40 47 62 75
	</div>
</div>
