{% macro display_menu_item(item, loop) %}
<li>
	<a href="{{ item.link }}" {% if item.title is defined %}title='{{ item.title|escape }}'{% endif %} {% if item.target is defined %}target="{{ item.target|escape }}"{% endif %} class="p-1 p-sm-2 d-block {% if item|current %}current {% endif %}{% if item.class is defined %}{{item.class}}{% endif %}">{{item.label}}</a>
	{% if item.submenu is defined %}
		<ul>
			{% for submenu in item.submenu %}
				{{ _self.display_menu_item(submenu, loop) }}
			{% endfor %}
		</ul>
	{% endif %}
</li>
{% endmacro %}

<ul class="footer-links__list list-unstyled text-center my-0 d-sm-flex justify-content-sm-center">
	{% for item in menu %}
	{{ _self.display_menu_item(item, loop) }}
	{% endfor %}
</ul>
