{% macro display_menu_item(item, loop) %}
<li class="nav-menu__item d-xl-flex">
	<a href="{{ item.link }}" title="{{ item.title|default('')|escape }}" {% if item.target is defined %}rel="noopener" target="{{ item.target|escape }}"{% endif %} class="d-block d-xl-flex align-items-center p-2 py-xl-0 font-weight-bold text-uppercase {{ item|current ? 'current' }} {{ item.class|default('') }}">
        {{ item.label }}</a>
	{% if item.submenu is defined %}
		<ul>
			{% for submenu in item.submenu %}
				{{ _self.display_menu_item(submenu, loop) }}
			{% endfor %}
		</ul>
	{% endif %}
</li>
{% endmacro %}

{% spaceless %}
<nav class="{{ name }} d-flex">
	<button type="button" class="nav-burger d-block d-xl-none js-nav-burger">
		<span class="nav-burger-icon"></span>
	</button>
    <div class="nav-container d-flex">
    	<ul class="nav-menu list-unstyled text-right text-xl-center d-xl-flex justify-content-xl-end mb-0 w-100">
    		{% for item in menu %}
    		{{ _self.display_menu_item(item, loop) }}
    		{% endfor %}
            <li class="nav-menu__item d-xl-flex">
                {% for network in ['facebook', 'twitter', 'instagram'] %}
                <a href="{{ uioption('%s-url'|format(network)) }}" target="_blank" rel="noopener" class="d-flex align-items-center p-2 py-xl-0">
                    <svg class="size-24 icon-{{ network }}">
                        <use xlink:href="#icon-{{ network }}"></use>
                    </svg>
                </a>
                {% endfor %}
            </li>
{#             {% for network in ['facebook', 'twitter', 'instagram'] %}
            <li class="d-none d-lg-table-cell">
                <a href="{{ uioption('%s-url'|format(network)) }}" target="_blank" rel="noopener">
                    <svg class="size-24 icon-{{ network }}">
                        <use xlink:href="#icon-{{ network }}"></use>
                    </svg>
                </a>
            </li>
            {% endfor %} #}
    	</ul>
    </div>
</nav>
{% endspaceless %}
