<div class="col-12 col-sm-10 col-md-8 {{ classes|default('mb-2 mb-md-3') }}">
	<div class="news-item">
		{% if news.image %}
		<img
			src="{{ img_placeholder(750, 600) }}"
			data-src="{{ news.image|thumbnail(750, 600, 'r') }}"
			class="img-fluid w-100 lazyload news-img"
			alt="{{ news.title }}"
		/>
		{% endif %}
		<div class="news-item__content p-2 p-md-3 bg-white">
			<div class="news-item__date text-uppercase text-primary">{{ news.datepublish|localdate('%A %e %B à %H:%M') }}</div>
			<h2 class="news-item__title mb-2">{{ news.title }}</h2>
			<div class="news-item__body">
				{{ news.body }}
			</div>
		</div>
	</div>
</div>
