{% if festival.teaser or festival.playlist %}
{% set tools = [
    {
        'label': 'Teaser',
        'icon': 'play',
        'url': festival.teaser.url
    },
    {
        'label': 'Playlist',
        'icon': 'playlist',
        'url': festival.playlist
    },
    {
        'label': 'Carte interactive',
        'icon': 'marker',
        'url': '/carte-interactive'
    }
] %}
<ul class="toolbar list-unstyled mb-0 position-fixed d-flex flex-column align-items-start">
    {% for tool in tools if tool.url %}
    <li class="toolbar__item bg-primary-dark">
        <a href="{{ tool.url }}" target="_blank" rel="noopener" class="d-flex align-items-center text-white text-uppercase">
            <div class="toolbar__icon size-48 d-flex align-items-center justify-content-center">
                <svg class="size-32 d-block fill-currentcolor">
                    <use xlink:href="#icon-{{ tool.icon }}"></use>
                </svg>
            </div>
            <div class="toolbar__label px-1 flex-grow-1">{{ tool.label }}</div>
        </a>
    </li>
    {% endfor %}
</ul>
{% endif %}
