{% if description is not empty %}
<meta name="description" content="{{ description }}"/>
{% endif %}
        <meta property="og:locale" content="{{ app.config.get('general/locale') }}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ title }}" />
{% if description is not empty %}
        <meta property="og:description" content="{{ description }}" />
{% endif %}
        <meta property="og:url" content="{{ canonical }}" />
        <meta property="og:site_name" content="{{ app.config.get('general/sitename') }}" />
{% if image is not empty %}
        <meta property="og:image" content="{{ image }}" />
{% endif %}
        <meta name="robots" content="{{ robots }}" />
