{% extends 'layout.twig' %}

{% setcontent place = 'places' where { 'id': record.place } returnsingle %}

{% block content %}

<article>

    <figure class="artist-cover mb-0">
        {% if record.image %}
        <img
            src="{{ record.image|thumbnail(12, 4) }}"
            data-src="{{ record.image|thumbnail(1200, 400) }}"
            width="1200"
            height="400"
            class="img-fluid w-100 lazyload artist-cover__img"
            alt="{{ record.title }} en concert au {{ app.config.get('general/sitename') }} à Nantes"
        />
        {% endif %}
        <figcaption class="artist-cover__content text-center">
            <h1 class="artist-cover__title mb-0 {{ not record.is_cancelled ? 'mb-md-3' }} px-2 {{ record.is_cancelled ? 'text-line-through' }}" data-bolt-field="title">{{ record.title }}</h1>
            {% if artist.is_full %}
            <div class="artist__full d-inline-block d-md-none font-weight-bold text-uppercase text-white bg-danger mt-1 p-1">Complet</div>
            {% endif %}

{#             {% if record.is_cancelled %}
            <div class="artist-cover__cancelled text-uppercase text-red mb-md-2">Annulé</div>
            {% endif %} #}
            <div class="artist-cover__meta d-none d-md-block">
                <div class="artist-cover__time text-uppercase">{{ record.datetime|localdate('%A %e %B') }}</div>
                {% if place.title %}
                <div class="artist-cover__location text-uppercase d-flex justify-content-center mt-1">
                    <svg class="size-24 icon artist-cover__icon">
                        <use xlink:href="#icon-marker"></use>
                    </svg>
                    {{ place.title }}
                </div>
                {% endif %}
                {% if artist.is_full %}
                <div class="artist-cover__full d-inline-block font-weight-bold text-uppercase text-white bg-danger mt-2 p-1">Complet</div>
                {% endif %}
            </div>
        </figcaption>
    </figure>

    {{ include('components/artist-back.twig') }}

    <div class="container-fluid my-2 my-md-3">
        <div class="row">

            <section class="col-12 col-md-8">
                <div class="artist__content p-2 p-md-3 mb-2 mb-md-0 bg-white">
                    <h2 class="artist__title d-none d-md-block mb-2" data-bolt-field="title">{{ record.title }}</h2>
                    <div class="artist__meta mb-2 text-primary">
                        <div class="artist__origin" data-bolt-field="origin">{{ record.origin }}</div>
                        <div class="artist__style" data-bolt-field="style">{{ record.style }}</div>
                        <div class="artist__label" data-bolt-field="music_label">{{ record.music_label }}</div>
                    </div>
                    <div class="artist__description" data-bolt-field="body">
                        {{ record.body }}
                    </div>
                    {% if record.video is not empty %}
                    <div class="artist__video embed-responsive embed-responsive-16by9">
                        {{ record.video.html|replace({'src=': 'class="lazyload" data-src='})|raw }}
                    </div>
                    {% endif %}
                </div>
            </section>

            <aside class="col-12 col-md-4">
                <div class="artist-side bg-white p-2 mb-2 mb-md-3">
                    <div class="artist__time text-uppercase text-primary">{{ record.datetime|localdate('%A %e %B') }}<br />{{ record.datetime|localdate('%Hh%M') }}</div>
                    {% if artist.is_full %}
                    <div class="artist__full d-inline-block font-weight-bold text-uppercase text-white bg-danger mt-1">Complet</div>
                    {% endif %}
                    <div class="artist__price my-2">
                        {{ record.price }} {{ record.price_mention is not empty ? '*' }}
                        {% if record.price_mention is not empty %}
                        <span class="lineup__mention d-block text-muted">* {{ record.price_mention }}<span>
                        {% endif %}
                    </div>
{#                     {% if place.title %}
                    <div class="artist__location my-2">
                        <div class="artist__location-title">{{ place.title }}</div>
                        <div class="artist__location-address">{{ place.address }}</div>
                    </div>
                    {% endif %} #}
                    {% if not record.is_free or ( place.geolocation.latitude or place.geolocation.longitude ) %}
                    <div class="artist-action">
{#                         {% if place.geolocation.latitude or place.geolocation.longitude %}
                        <a href="https://maps.google.com/?q={{ place.geolocation.formatted_address|url_encode }}" class="btn btn-default btn-block {{ not record.is_free and ( place.geolocation.latitude or place.geolocation.longitude ) ? 'mb-2' }}" target="_blank" rel="noopener">
                            <svg class="icon size-16">
                                <use xlink:href="#icon-marker"></use>
                            </svg>
                            Itinéraire
                        </a>
                        {% endif %} #}
                        {% if not record.is_free %}
                        <a href="{{ record.booking_url is empty ? festival.booking_url : record.booking_url }}" target="_blank" rel="noopener" class="btn btn-primary btn-block">
                            <svg class="icon size-16">
                                <use xlink:href="#icon-ticket"></use>
                            </svg>
                            Réserver
                        </a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                <div>
                    {{ include('components/melomane.twig') }}
                </div>
            </aside>

        </div>
    </div>

</article>

{% setcontent related_artists = 'artists' where { id: '!' ~ record.id, datetime: '>' ~ record.datetime|date('Y-m-d') ~ ' && ' ~ '<' ~ record.datetime|date_modify('+1 day')|date('Y-m-d') } %}
{% if related_artists %}
    <aside class="artist__related py-2 py-md-3">
        <div class="container-fluid">
            <h2 class="h4 text-uppercase text-center mb-2">Le même jour</h2>
            <div class="row">
                {% for record in related_artists %}
                {{ include('components/artist-item.twig', {
                    'artist' : record
                }) }}
                {% endfor %}
            </div>
        </div>
    </aside>
{% endif %}

{{ include('components/artist-back.twig', {
    'classes': 'mb-0 d-md-none'
}) }}

{% endblock %}
