{% extends 'layout.twig' %}

{% set seo_title = 'Billetterie' %}

{% block content %}

    {{ include('components/cover.twig', { 'title': record.title }) }}

    <div class="container-fluid">

        {% if record.body %}
        <div class="page-body p-2 p-md-3 mb-2 mb-md-3">
            {{ record.body }}
        </div>
        {% endif %}

        {% if concerts and record and ((uioption('show-booking') == 'oui' or user)) %}
        <div class="row">
            {# {% if records is defined and (uioption('show-booking') == 'oui' or user) %}
            <div class="col-12 {{ not records|length % 2 == 0 ? 'col-md-6' }}">
                <div class="booking-item text-center mb-2 mb-md-3">
                    <div class="booking-item__inner">
                        <h2 class="booking-item__title mb-2">Pass 5 jours</h2>
                        <div class="booking-item__price">70 €</div>
                        <a href="http://www.digitick.com/soy-pass-5-jours-festival-nantes-du-25-au-29-octobre-2017-css5-festivalsoy-pg101-ri4870267.html" target="_blank" rel="noopener" class="btn btn-primary btn-block booking-item__action">
                            <svg class="icon size-16">
                                <use xlink:href="#icon-ticket"></use>
                            </svg>
                            Réserver
                        </a>
                    </div>
                </div>
            </div>
            #}
            {% for dealer in record.dealers if dealer.position == 'before' %}
            {{ include('components/booking-item.twig') }}
            {% endfor %}

            {% for record in concerts %}
            <div class="col-12 col-sm-6">
                <div class="booking-item text-center mb-2 mb-md-3">
                    <div class="booking-item__inner">
                        <div class="booking-item__date">{{ record.datetime|localdate('%A %e %B - %Hh%M') }}</div>
                        <h2 class="booking-item__title h4 mb-2">
                            {% for artist in record.artists %}
                            <a href="{{ artist.link }}" class="text-white">{{ artist.title }}</a>{{ not loop.last ? ' + ' }}
                            {% endfor %}
                        </h2>
                        {% if record.price %}
                        <div class="booking-item__price text-pink">{{ record.price }}</div>
                        {% endif %}
                    </div>
                    {% if record.is_full %}
                    <div class="booking-item__action btn font-weight-bold text-uppercase text-white bg-danger">
                        Complet
                    </div>
                    {% else %}
                    <a href="{{ record.booking_url is empty ? festival.booking_url : record.booking_url }}" target="_blank" rel="noopener" class="btn btn-primary btn-block booking-item__action">
                        <svg class="icon size-16">
                            <use xlink:href="#icon-ticket"></use>
                        </svg>
                        Réserver
                    </a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}

            {% for dealer in record.dealers if dealer.position == 'after' %}
            {{ include('components/booking-item.twig') }}
            {% endfor %}
        </div>
        {% endif %}

    </div>

{% endblock %}
