{% extends 'layout.twig' %}

{% set archives =
    {
        'soy-1':
        {
            'title': 'SOY 1 - 2003',
            'text': 'Why ? - Tepr - Matt Elliott - Many Fingers'
        },
        'soy-2':
        {
            'title': 'SOY 2 - 2004',
            'text': 'Old Time Relijun - Julie Doiron - Zu - Flotation Toy Warning - Minor Majority - Victory Hall - Thomas Belhom - Park Attack - Encre - My Name is Nobody - Ichabod Crane - Bocage'
        },
        'soy-3':
        {
            'title': 'SOY 3 - 2005',
            'text': 'TRUMANS WATER - FREAKS (ANNULÉ) - FRICTION - ROOM 204 - PIANO MAGIC - SETH P BRUNDEL - TAZIO AND BOY - ELYSIAN FIELDS - ANIMAL COLLECTIVE - PIERRE BASTIEN - DIRTY THREE - JOSH PEARSON'
        },
        'soy-4':
        {
            'title': 'SOY 4 - 2006',
            'text': 'HOWE GELB - HRSTA - CARLA BOZULICH - GRIZZLY BEAR - KRIA BREKKAN - JEL - MARISSA NADLER - PART CHIMP - CHARLOTTEFIELD - HALF ASLEEP - LICHENS & BIRD SHOW - CYANN AND BEN - BRIAN STRAW - DANIEL HIGGS (ANNULÉ) - THE HEALTHY BOY'
        },
        'soy-5':
        {
            'title': 'SOY 5 - 2007',
            'text': 'CALIFONE - ZITA SWOON - ZËRO - PORT ROYAL - RHYS CHATHAM - STANLEY BRINKS - THE SUNBURNED HAND OF THE MAN - JACKIE-O MOTHERFUCKER - SETH FAERGOLZIA - LE VOLUME COURBE - BELONE QUARTET - DUFUS - JOANNE ROBERTSON - SJ ESAU - STRATEGY - J&L DEFER - REANIMATOR'
        },
        'soy-6':
        {
            'title': 'SOY 6 - 2008',
            'text': 'WHY? - ACID MOTHERS TEMPLE - VOLCANO ! - NLF3  - NEPTUNE - NO AGE - THE OSCILLATION - SON LUX - SIX ORGANS OF ADMITTANCE - ERIC CHENAUX - CJ BOYD - STEARICA - DWAYNE SODAHBERK - THANK YOU (ANNULÉ) - WORRIER - SKYPHONE - MICK FLOWER & CHRIS CORSANO - THE SIGHT BELOW - DANIEL HIGGS - PILLARS & TONGUES'
        },
        'soy-7':
        {
            'title': 'SOY 7 - 2009',
            'text': 'SOAP & SKIN - PART CHIMP - THEMSELVES - DO MAKE SAY THINK - CLUES - HEALTH - ANIMAL HOSPITAL - THANK YOU - STARS LIKE FLEAS - VOICE OF THE SEVEN WOODS - ROOM 204 - BENOIT PIOULARD - MOUNTAINS - FORDAMAGE - OUR BROTHER THE NATIVE (ANNULÉ) - GLENN JONES - MATTEAH BAIM - SKELETONS - PICTUREPLANE - JAMES BLACKSHAW - ALL IN THE GOLDEN AFTERNOON - CHARLES SPEARIN - GET BACK GUINOZZI - ALEXIS GIDEON - ACTION BEAT'
        },
        'soy-8':
        {
            'title': 'SOY 8 - 2010',
            'text': 'LIARS - THE CHAP - MICE PARADE - SPECTRUM - KARAOCAKE - BELLINI - THE CESARIANS - TAME IMPALA - ZUN ZUN EGUI (ANNULÉ) - - LES TRUCS - SUN ARAW - FRANCOIS AND THE ATLAS MOUNTAINS - ROCKET NUMBERNINE - BLANK DOGS - US GIRLS - ALEXANDER TUCKER - KATADREUFFE - SIMON SCOTT (ANNULÉ) - TURZI - LAZER CRYSTAL - DOSH - SETTING SUN - YETI LANE'
        },
        'soy-9':
        {
            'title': 'SOY 9 - 2011',
            'text': 'BONNIE PRINCE BILLY - SILVER APPLES - CANNIBALES & VAHINES - FIRE! - RACHEL GRIMES - LES MARQUISES - ICON A CLASS - GALA DROP - OREN AMBARCHI - K-X-P - LAWRENCE ENGLISH - ETERNAL TAPESTRY - KIT - SCHNAAK - THREE TRAPPED TIGERS - ASTRID - THE SKULL DEFEKTS (ANNULÉ) - ICEAGE (ANNULÉ) - NECRO DEATHMORT - DIRTY BEACHES - CIAN NUGENT - STEVE GUNN - LUC RAMBO - CHAUSSE TRAPPE - THEE VERDUNS'
        },
        'soy-10':
        {
            'title': 'SOY 10 - 2012',
            'text': 'JONATHAN FITOUSSI - DIE! DIE! DIE! - BRNS - MICACHU - 2KILOS &MORE WITH BLACK SIFICHI - VERITY SUSMAN - QUINTRON & MISS PUSSYCAT - LOTUS PLAZA - SKOAL KODIAK - PETE SWANSON - GODSPEED YOU! BLACK EMPEROR - BARN OWL - DOPE BODY - LICHENS - GARETH DAVIS/MACHINEFABRIEK - GARETH DICKSON - HERE WE GO MAGIC - SIX ORGANS OF ADMITTANCE - JOE MCKEE - SVEN KACIREK - PEEPHOLES - MY DISCO - CARLTON MELTON'
        },
        'soy-11':
        {
            'title': 'SOY 11 - 2013',
            'text': 'Yo la tengo - Popstrangers - The Fall - Deerhunter (annulé) - Tristesse Contemporaine - Mykki Blanco - Lower - Christina Vantzou - Helm - Will Samson - Zomes (annulé) - Michel Cloup Duo - Richard Dawson - Throes + The Shine - The Haxan Cloak - La Colonie de vacances - Jerusalem in my Heart - Gentle Friendly - B L A C K I E (annulé) - Guido Möbius - Aluk Todolo - Mendelson - Orval Carlos Sibelius - Jackson Scott - Julianna Barwick - Masaki Batoh - Sean Nicholas Savage - Julia Holter - Chris Forsyth'
        },
        'soy-12':
        {
            'title': 'SOY 12 - 2014',
            'text': 'Rashad Becker - Son Lux - Ought - Carla Bozulich - HIS ELECTRO BLUE VOICE - Lee Noble - Younghusband - Sebadoh - Perfect Pussy - Johnny Hawaii - Robedoor - Lee Ranaldo - Acteurs (annulé) - Fairhorns - Steve Hauschildt - Chris Madak (annulé) - Je Suis le Petit Chevalier - Noveller - Girl Band - Container - James Yorkston - Lushes - Lower - Peter Walker - Ed Schrader’s Music Beat - Vundabar - Gum Takes Tooth - Colin Stetson'
        },
        'soy-13':
        {
            'title': 'SOY 13 - 2015',
            'text': 'SUUNS & Jerusalem In My Heart - Demian Castellanos - Protomartyr - Fist City - J Fernandez - group A - BLURT - THE SKULL DEFEKTS - Scorpion Violente - Eddy Crampes - Ariel Pink -  Jack Name - Rats On Rafts - Ryley Walker - Pye Corner Audio - Paper Dollhouse - Bronze - Girls Names - Cut Hands - The Wharves - Speedy Ortiz - Eartheater - François Virot - BURNT ONES - Creeping Pink - Father Murphy'
        },
        'soy-14':
        {
            'title': 'SOY 14 - 2016',
            'text': 'Mike Cooper - Cate le Bon - Sister Iodine - Vitas Guerulaitis - Guili Guili Goulag - Tellavision - Tortoise - Kaitlyn Aurelia Smith - Harmonious Thelonious - Shame - Tropa Macaca - Suuns - Lorelle meets The Obsolete - Blood Sport - Casual Hex - Bruit Noir - Perio - Matmos - Not Waving - Cold Pumas - Grumbling Fur - Horse Lords - Ignatz - Tyondai Braxton - Tim Hecker'
        },
        'soy-15':
        {
            'title': 'SOY 15 - 2017',
            'text': 'Charlotte Bendiks - Marietta - Julien Gasc - Cotillon - Micah P. Hinson - Fennesz - Jessica93 - BIG|BRAVE - Larsen - Jessica Moss - Seabuckthorn - Blanck Mass - Petit Fantôme - Orson Hentschel - Puce Mary - Trupa Trupa - Rhys Chatham + Will Guthrie - Loscil - Doppeltgänger - Zombie Zombie - Chad VanGaalen - John Maus - Tonstartssbandht - Accident du travail - Carl Stone - Ride - Kevin Morby - Mary Ocher'
        }
    }
%}

{% set seo_title = 'Archives' %}

{% block content %}

{{ include('components/cover.twig', { 'title': 'Archives' }) }}

<div class="container-fluid">
    <div class="row archives-grid">
        {% for key, record in archives|reverse %}
        {# {% for record in records if date('-1day') > date(record.end_date) %} #}
        <div class="archive-item col-12 col-sm-6 col-md-4 mb-2">
            <img
                src="{{ asset('archives/' ~ key ~ '.jpg', 'files') }}"
                data-src="{{ asset('archives/' ~ key ~ '.jpg', 'files') }}"
                class="img-fluid d-block lazyload w-100"
            />
{#             {% if record.image %}
            <a href="{{ record.link }}">
                <img
                    src="{{ record.image|thumbnail(4, 9999, 'r') }}"
                    data-src="{{ record.image|thumbnail(400, 9999, 'r') }}"
                    class="img-fluid d-block lazyload w-100"
                />
            </a>
            {% endif %} #}
            <h2 class="h3 archive-title">
                {{ record.title }}
                {# <a href="{{ record.link }}">{{ record.title }}</a> #}
            </h2>
            {# <div class="">Du {{ record.start_date|localdate('%e %B') }} au {{ record.end_date|localdate('%e %B %Y') }}</div> #}
            <div class="archive-content text-uppercase">{{ record.text }}</div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
