{% extends 'layout.twig' %}

{% block content %}

<div class="container-fluid">
    <h1>{{ record.title }}</h1>
    <div class="">Du {{ record.start_date|localdate('%e %B') }} au {{ record.end_date|localdate('%e %B %Y') }}</div>
    <img src="http://via.placeholder.com/350x150?text=text" />
    <div class="row">
        {% for record in record.related() %}
        {{ include('components/artist-item.twig', {
            'artist': record
        }) }}
        {% endfor %}
    </div>
</div>

{% endblock %}
