{% extends 'layout.twig' %}

{% setcontent records = 'artists' where { status: 'published', datetime: '>= this year' } limit 9 %}

{% block body_classes 'home' %}

{% block content %}

    <section class="home-cover text-center lazyload bg-primary" data-bgset="{{ record.image|thumbnail(1900, 1000) }}">
        <div class="home-cover-text">
            {{ record.body }}
            <div class="home-cover-description">{{ record.teaser }}</div>
        </div>
    </section>

    {% if records and (uioption('show-lineup') == 'oui' or user) %}
    <section class="container-fluid py-4">
        <div class="row" data-lickity='{
            "wrapAround": true,
            "pageDots": false,
            "imagesLoaded": true,
            "cellAlign": "left"
        }'>
            {% for record in records|slice(0, 9) %}
            {{ include('components/artist-item.twig', {
                'artist' : record,
                'classes': 'mb-2'
            }) }}
            {% endfor %}
        </div>
        <div class="text-center mt-2">
            <a href="{{ paths.rooturl }}programmation" class="btn-primary btn">Toute la prog</a>
        </div>
    </section>
    {% endif %}

    {% if uioption('show-booking') == 'oui' or user %}
    <section class="home-booking text-center">
        <div class="container-fluid">
            <p class="home-booking-description">Achetez vos places en ligne pour les soirées du festival</p>
            <div class="home-booking-action">
                <a href="{{ paths.rooturl }}billetterie" class="btn btn-outline-primary">Billetterie</a>
            </div>
        </div>
    </section>
    {% endif %}

    {% setcontent records = 'news/latest/1' %}
    {% for record in records %}
    <section class="news-home py-3">
        <div class="container-fluid">
            <div class="row justify-content-center">
                {{ include('components/news-item.twig', {
                    'news': record,
                    'classes': 'mb-0'
                }) }}
            </div>
        </div>
    </section>
    {% endfor %}

{#     <div class="bg-primary py-3">
        <div class="container-fluid">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="lazyload embed-responsive-item" width="560" height="315" data-src="https://www.youtube-nocookie.com/embed/PcSt2e79W1M?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="home-playlist py-3">
        <div class="container-fluid">
            <iframe height="480" width="100%" src="https://play.soundsgood.co/embed/595d08ca41e6e56651becd52?color=24178D&hideCurator=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="lazyload"></iframe>
        </div>
    </div> #}

{% endblock %}
