<!DOCTYPE html>
<html class="no-js" lang="{{ htmllang() }}">
	<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ seo_title|default('') is empty ? seo.title() : seo_title ~ ' | ' ~ app.config.get('general/sitename') }}</title>
		{{ seo.metatags() }}
        {% block head '' %}
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		{% block stylesheets %}
		<link href='//fonts.googleapis.com/css?family=Open+Sans:300,400|Montserrat:400,500,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{ asset('assets/css/app.css', 'web') }}">
		{% endblock %}
        <script>{{ source('assets/js/modernizr.js') }}</script>
	</head>
	<body class="d-sm-flex flex-column {% block body_classes '' %}">
		<div style="display:none;">
			{{ source('assets/images/sprite.svg') }}
		</div>

        {{ include('components/toolbar.twig') }}

		{# HEADER #}
		{{ include('components/header.twig') }}

		{# CONTENT #}
		<div class="content">
			{% block content %}{% endblock %}
		</div>

		{# FOOTER #}
		{{ include('components/footer.twig') }}

        {% block footer '' %}

		{% block javascripts %}
		<script src="{{ asset('assets/js/app.js', 'web') }}" defer></script>
		{% endblock %}
		{% if not app.config.get('general/debug') %}
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-18626662-2','auto');ga('send','pageview');
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
        {% endif %}
	</body>
</html>
