{% extends 'layout.twig' %}

{% set seo_title = 'Programmation' %}

{% block content %}

	{{ include('components/cover.twig', { 'title': 'Programmation' }) }}

	<div class="container-fluid">
		{% if records and (uioption('show-lineup') == 'oui' or user) %}
		{% for date, concerts in records %}
		<h2 class="lineup__date h4 text-white text-center text-uppercase p-1">{{ date|localdate('%A %e %B') }}</h2>
		<div class="lineup__day bg-white px-2 px-md-3 mb-3 pt-2">
			{% for concert in concerts %}
			<div class="lineup__concert">
				<h3 class="lineup__title text-center text-uppercase h5 text-primary py-1 px-2">{{ concert.meta.place }} - {{ concert.meta.time|localdate('%Hh%M') }} - {{ concert.meta.price }} {{ concert.meta.price_mention is not empty ? '*' }}
                    {% if concert.meta.price_mention is not empty %}
                    <span class="lineup__mention d-block text-center text-muted">* {{ concert.meta.price_mention }}<span>
                    {% endif %}
                </h3>
				<div class="row justify-content-sm-center">
				{% for artist in concert.artists %}
				{{ include('components/artist-item.twig', {
					'artist' : artist,
					'classes': 'mb-2'
				}) }}
				{% endfor %}
				</div>
			</div>
			{% endfor %}
		</div>
		{% endfor %}
		{% else %}
		<div class="text-center">
			<h2>Bientôt disponible</h2>
		</div>
		{% endif %}
	</div>
{% endblock %}
