{% extends 'layout.twig' %}

{% set seo_title = 'Carte interactive' %}

{% block stylesheets %}
{{ parent() }}
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block content %}
{# from lat,lng to lat,lng #}
{% set geovelo_url = 'https://www.geovelo.fr/nantes/itinerary/search?profile=MEDIAN&bikeType=TRADITIONAL&wayPoints=%s|%s' %}

{# from name/address, from lng;lat, to name/address, to lng;lat, hour, minute, date dd/mm/yyyy #}
{% set destineo_url = 'http://www.destineo.fr/fr/journey/result/?search[from][autocomplete]=%s&search[from][autocomplete-hidden]=%s&search[to][autocomplete]=%s&search[to][autocomplete-hidden]=%s&search[datetime_represents]=arrival&search[datetime][time][hour]=%d&search[datetime][time][minute]=%d&search[datetime][date]=%s&search[modes][]=physical_mode:LocalTrain&search[modes][]=physical_mode:Tramway&search[modes][]=physical_mode:Bus&search[modes][]=physical_mode:Coach&search[count]=&search[min_nb_journeys]=2&search[max_nb_journeys]=3' %}

{# http://www.destineo.fr/fr/journey/result/?
search[from][autocomplete]=Votre Position
&search[from][autocomplete-hidden]=-1.555275;47.213991
&search[to][autocomplete]=Festival Soy
&search[to][autocomplete-hidden]=-1.5626;47.226
&search[datetime_represents]=arrival
&search[datetime][time][hour]=15
&search[datetime][time][minute]=0
&search[datetime][date]=29/09/2017
&search[modes][]=physical_mode:LocalTrain
&search[modes][]=physical_mode:Tramway
&search[modes][]=physical_mode:Bus
&search[modes][]=physical_mode:Coach
&search[count]=
&search[min_nb_journeys]=2
&search[max_nb_journeys]=3 #}


<div class="map-nav d-none d-md-block">
    {% if navs and (uioption('show-lineup') == 'oui' or user) %}
    {% for date, concerts in navs %}
    <div class="lineup__date h6 text-white text-center text-uppercase p-1 mb-0">{{ date|localdate('%A %e %B') }}</div>
    {% for place, concert in concerts %}
    <div id="item-{{ place }}" class="map-nav__item py-2 pr-1 {{ not loop.last ? 'map-nav__item--border' }}" data-id="{{ concert.meta.index }}">
        <h2 class="map-nav__title h6 text-primary text-uppercase">{{ concert.meta.place.title }} - {{ concert.meta.time|localdate('%Hh%M') }}</h2>
        <div class="map-nav__address">{{ concert.meta.place.geolocation.formatted_address }}</div>
{#         <ul class="list-unstyled mb-0">
            {% for artist in concert.artists %}
            <li>{{ artist.title }}</li>
            <li><a href="{{ artist.link }}">{{ artist.title }}</a></li>
            {% endfor %}
        </ul> #}
        <div class="map-nav__actions pt-2 collaps {{ loop.parent.loop.first and loop.first ? 'how' }}">
            <a href="{{ geovelo_url|format('null', concert.meta.place.geolocation.latitude ~ ',' ~ concert.meta.place.geolocation.longitude) }}" class="btn btn-primary btn-block btn-sm mb-1" target="_blank" rel="noopener" data-url-geovelo="{{ geovelo_url|format('%s', concert.meta.place.geolocation.latitude ~ ',' ~ concert.meta.place.geolocation.longitude) }}">
                <svg class="icon size-24">
                    <use xlink:href="#icon-bike"></use>
                </svg>
                à vélo
            </a>
            <a href="{{ destineo_url|format('', '', concert.meta.place.geolocation.formatted_address, concert.meta.place.geolocation.longitude ~ ';' ~ concert.meta.place.geolocation.latitude, concert.meta.time|date('H'), concert.meta.time|date('i'), concert.meta.time|date('d/m/Y')) }}" class="btn btn-primary btn-block btn-sm" target="_blank" rel="noopener" data-url-destineo="{{ destineo_url|format('Votre position', '%s', concert.meta.place.geolocation.formatted_address, concert.meta.place.geolocation.longitude ~ ';' ~ concert.meta.place.geolocation.latitude, concert.meta.time|date('H'), concert.meta.time|date('i'), concert.meta.time|date('d/m/Y')) }}">
                <svg class="icon size-24">
                    <use xlink:href="#icon-train"></use>
                </svg>
                en commun
            </a>
        </div>
    </div>
    {% endfor %}
    {% endfor %}
    {% else %}
    <div class="h-100 d-flex align-items-center justify-content-center">
        Aucun concert pour le moment.
    </div>
    {% endif %}
</div>
<div id="map"></div>

{% set descriptions = {} %}
{% for index, place in records %}
    {% set html = '<div class="map-info">' %}
    {% for k, concert in place.concerts %}
        {% set html = html ~ '<div class="map-info__place text-white bg-primary pl-1 py-1">' ~ concert.meta.place.title ~ '</div>' %}
            {% set html = html ~ '<div class="map-info__actions d-flex bg-primary align-items-center">' %}
                {% set html = html ~ '<a href="' ~ geovelo_url|format('null', concert.meta.place.geolocation.latitude ~ ',' ~ concert.meta.place.geolocation.longitude) ~ '" class="btn btn-primary btn-sm d-block" target="_blank" rel="noopener" data-url-geovelo="' ~ geovelo_url|format('%s', concert.meta.place.geolocation.latitude ~ ',' ~ concert.meta.place.geolocation.longitude) ~ '"><svg class="icon size-24"><use xlink:href="#icon-bike"></use></svg></a>' %}
                {% set html = html ~ '<a href="' ~ destineo_url|format('', '', concert.meta.place.geolocation.formatted_address, concert.meta.place.geolocation.longitude ~ ';' ~ concert.meta.place.geolocation.latitude, concert.meta.time|date('H'), concert.meta.time|date('i'), concert.meta.time|date('d/m/Y')) ~ '" class="btn btn-primary btn-sm d-block" target="_blank" rel="noopener" data-url-destineo="' ~ destineo_url|format('Votre position', '%s', concert.meta.place.geolocation.formatted_address, concert.meta.place.geolocation.longitude ~ ';' ~ concert.meta.place.geolocation.latitude, concert.meta.time|date('H'), concert.meta.time|date('i'), concert.meta.time|date('d/m/Y')) ~ '"><svg class="icon size-24"><use xlink:href="#icon-train"></use></svg></a>' %}
            {% set html = html ~ '</div>' %}
            {% set html = html ~ '<div class="map-info__content p-1">' %}
            {% set html = html ~ '<div class="map-info__date">%s - %s %s'|format(concert.meta.time|localdate('%A %e %B %Hh%M'), concert.meta.price, concert.meta.price_mention is not empty ? '*') %}
            {% if concert.meta.price_mention is not empty %}
            {% set html = html ~ '<div class="map-info__price text-muted">* %s</div>'|format(concert.meta.price_mention) %}
            {% endif %}
            {% set html = html ~ '</div>' %}
            {% for artist in concert.artists %}
                {% set html = html ~ '<div class="map-info__artist"><a href="' ~ artist.link ~ '">' ~ artist.title ~ '</a></div>' %}
            {% endfor %}
        {% set html = html ~ '</div>' %}
    {% endfor %}
    {% set html = html ~ '</div>' %}
    {% set descriptions = descriptions|merge({
        (index): html
    }) %}
{% endfor %}

{% set features = [] %}
{% for index, place in records %}
{% set features = features|merge([{
    'type': 'Feature',
    'properties': {
        'id': index,
        'place_id': place.place_id,
        'description': descriptions[index],
        'icon': 'marker'
    },
    'geometry': {
        'type': 'Point',
        'coordinates': [
            place.lng,
            place.lat
        ]
    }
}]) %}
{% endfor %}

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiaGVsbG9uaWNvIiwiYSI6ImNqOHIwMWxxbDByeGMycXBjbWNocjViZmgifQ.fZSw8X_gp3uj-RKMt3SGcQ';
var mapEvents = {
    "type": "FeatureCollection",
    "features": {{ features|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
};
</script>

{% endblock %}

{% block footer %}
<div class="modal" id="map-modal-location" aria-hidden="false">
    <div class="modal__overlay d-flex justify-content-center align-items-center" tabindex="-1" data-micromodal-close>
      <div class="modal__container p-2 p-md-3" role="dialog" aria-modal="true" aria-labelledby="map-modal" aria-describedby="map-modal">
        <div role="document">
          <div class="modal__header d-flex justify-content-between align-items-center">
            <button class="modal__close" aria-label="Fermer" aria-controls="" data-micromodal-close></button>
          </div>
          <div class="modal__content py-2">
            Afin de vous proposer des itinéraires personnalisés, nous souhaiterions connaître votre position. Aucune donnée ne sera conservée.
          </div>
          <div class="modal__footer d-flex">
            <button class="btn btn-primary btn-block" data-geolocation-allow>Activer</button>
            <button class="btn btn-default btn-block" data-micromodal-close aria-label="Refuser" data-geolocation-deny>Refuser</button>
          </div>
        </div>
      </div>
    </div>
</div>
<script>
localStorage.getItem('geolocation_permission') !== null && document.getElementById('map-modal-location').setAttribute('aria-hidden', 'true');
</script>
<div class="modal modal--warning" id="map-modal-error" aria-hidden="true">
    <div class="modal__overlay d-flex justify-content-center align-items-center" tabindex="-1" data-micromodal-close>
      <div class="modal__container p-2 p-md-3" role="dialog" aria-modal="true" aria-labelledby="map-modal" aria-describedby="map-modal">
        <div role="document">
          <div class="modal__header d-flex justify-content-between align-items-center">
            <button class="modal__close" aria-label="Fermer" aria-controls="" data-micromodal-close></button>
          </div>
          <div class="modal__content py-2" data-modal-content>
            Une erreur a lieu.
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
