{% extends 'layout.twig' %}

{% set seo_title = 'Actualités' %}

{% block content %}

	{{ include('components/cover.twig', { 'title': 'Actualités' }) }}

	<div class="container-fluid">
		<div class="row justify-content-center">
			{% for record in records %}
			{{ include('components/news-item.twig', {'news': record}) }}
			{% endfor %}
		</div>
	</div>

{% endblock %}
