{% extends 'layout.twig' %}

{% block content %}

    {{ include('components/cover.twig', { 'title': record.title }) }}

	<div class="container-fluid mb-2 mb-md-3">
		<div class="row justify-content-center">
			<div class="col-12 col-sm-10 col-md-8">
				{% if record.image %}
				<img
                    src="{{ record.image|thumbnail(8, 6, 'r') }}"
                    data-src="{{ record.image|thumbnail(800, 600, 'r') }}"
                    class="img-fluid d-block w-100 lazyload"
                    alt="{{ record.title }}"
                />
				{% endif %}
				<div class="page-body p-2 p-md-3">
					{{ record.body }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
