//
// Buttons
// --------------------------------------------------

.btn {
  display: inline-block;
  font-family: $headings-font-family;
  font-weight: $btn-font-weight;
  letter-spacing: .05em;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: $input-btn-border-width solid transparent;
  @include button-size($input-btn-padding-y, $input-btn-padding-x, $font-size-base, $input-btn-line-height, $btn-border-radius);
  @include transition($btn-transition);
  text-transform: uppercase;

  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
  }
  &:focus,
  &.focus {
    outline: 0;
  }

  &:active,
  &.active {
    background-image: none;
    @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
  }

  &:disabled {
    cursor: default;
  }
}
button.btn {
    cursor: pointer;
}

.btn-sm {
  @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $input-btn-line-height-sm, $btn-border-radius-sm);
}

.btn-primary {
	color: #fff;
	background: var(--primary);
    @include hover {
        color: #fff;
        background: var(--primary-dark);
    }
}
.btn-outline-primary {
    color: var(--primary);
    background: #fff;
    @include hover {
        color: #fff;
        background: var(--primary-dark);

    }
}
.btn-default {
    color: #fff;
    background: $gray-600;
    @include hover {
        color: #fff;
        background: $gray-700;
    }
}

.btn-block {
	display: block;
	width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.btn {
    position: relative;
    &::after {
        content: '';
        transition: opacity .2s ease-in-out;
        opacity: 0;
        position: absolute;
        right: 50%;
        top: 50%;
        margin-top: -8px;
        margin-right: -8px;
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        border-top: 2px solid rgba(255, 255, 255, 0.3);
        border-right: 2px solid rgba(255, 255, 255, 0.3);
        border-bottom: 2px solid rgba(255, 255, 255, 0.3);
        border-left: 2px solid #ffffff;
        transform: translateZ(0);
        transition: .1s opacity $easeOutQuad;
        @include size(16px);
    }
}
.btn--loading {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    border: 0;
    &::after {
        opacity: 1;
        animation: loading .8s infinite linear;
    }
}
