//
// Lazyload
//

.blur-up {
	filter: blur(5px);
	transition: filter .5s;
}
.blur-up.lazyloaded {
	filter: blur(0);
}
.lazyload:not(.blur-up),
.lazyloading:not(.blur-up) {
	background: url('../images/loading.gif') no-repeat center;
}
.lazyloaded:not(.blur-up) {
	background-image: none;
	animation-name: fade-in;
	@extend .animated;
}
