/**************************\
  Basic Modal Styles
\**************************/

.modal[aria-hidden='true'] {
  display: none;
}

.modal {
  z-index: $zindex-modal;
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(theme-color('primary-dark'), 0.9);
}

.modal__container {
  background-color: #fff;
  max-height: 100vh;
  overflow-y: auto;
  position: relative;
  max-width: 300px;
  @include media-breakpoint-up(sm) {
    max-width: 500px;
  }
  .modal--warning & {
    color: #856404;
    background-color: #fff3cd;
  }
}

.modal__header {
}
.modal__close {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: $spacer / 2;
  right: $spacer / 2;
  @include media-breakpoint-up(sm) {
    top: $spacer;
    right: $spacer;
  }
  &:focus {
    outline: none;
  }
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
}

/**************************\
  Demo Animation Style
\**************************/
// @keyframes mm-fadeIn {
//     from { opacity: 0; }
//       to { opacity: 1; }
// }

// @keyframes mm-slideIn {
//   from { transform: translate3d(0, 35%, 0); }
//     to { transform: translate3d(0, 0, 0); }
// }

// .micromodal-slide[aria-hidden="false"] .modal__overlay {
//   animation: mm-fadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
// }

// .micromodal-slide[aria-hidden="false"] .modal__container {
//   animation: mm-slideIn .3s cubic-bezier(0, 0, .2, 1);
// }

// .micromodal-slide .modal__container,
// .micromodal-slide .modal__overlay {
//   will-change: transform;
// }
