
.book-melomane {
	padding: $spacer;
	background: #fff;
	font-family: Montserrat, sans-serif;
	font-size: $font-size-lg;
	margin-bottom: $spacer;
	@include media-breakpoint-up(md) {
		margin-bottom: $spacer * 2;
	}
}
