

.cover {
    background-repeat: no-repeat;
    background-position: center center;
	background-color: var(--primary);
	background-size: cover;
	// background-attachment: fixed;
	border-bottom: solid 5px var(--pink);
	position: relative;
	@include media-breakpoint-up(md) {
		min-height: 250px;
	}
	@include media-breakpoint-up(lg) {
		min-height: 300px;
	}
	.home & {
		margin-bottom: 0;
	}
}
.cover__title {
	color: #fff;
	font-size: $font-size-base * 1.5;
	@include media-breakpoint-down(sm) {
		padding: $spacer * 2 0;
	}
	@include media-breakpoint-up(md) {
		font-size: $h2-font-size;
		letter-spacing: 0.2em;
		position: absolute;
		width: 100%;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}
}
