.toolbar {
    top: 50%;
    right: 0;
    z-index: $zindex-fixed;
    transform: translate3d(calc(100% - 48px), calc(-50% + 1px), 0);
}
.toolbar__item {
    font-size: 14px;
    font-weight: bold;
    transform: translate3d(0, 0, 0);
    transition: transform .3s $easeInOutQuart, background .3s $easeOutQuart;
    will-change: transform;
    &:hover {
        transform: translate3d(calc(-100% + 48px), 0, 0);
        background: theme-color('pink') !important;
    }
    &:not(:last-of-type) {
        margin-bottom: 1px;
    }
}
