{% form_theme form 'forms/fields.twig' %}

{% if error %}
    <div class="alert alert-danger">{{ error }}</div>
{% endif %}
{% if message %}
    <div class="alert alert-success">{{ message }}</div>
{% endif %}
{% if not sent %}
{% if recaptcha_theme %}
<script>
    var RecaptchaOptions = {
        theme : '{{ recaptcha_theme }}'
    };
</script>
{% endif %}
<form action="#" method="post" class="form-{{ formname }} {{ formname }}-form form-horizontal" enctype="multipart/form-data" novalidate>
    {{ form_widget(form) }}

    {% if recaptcha_html %}
    <div class="simpleform-row">
        <label for="form_message" class="required">ReCaptcha</label>
        {{ recaptcha_html|raw }}
    </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <button type="submit" name="submit" class="btn btn-primary">{{ button_text }}</button>
        </div>
    </div>
</form>
{% endif %}
