//
// Artist
// --------------------------------------------------

//
// LINEUP
//

.lineup__date {
	background: var(--primary-dark);
	@include media-breakpoint-only(xs) {
		margin-left: -#{$grid-gutter-width / 2};
		margin-right: -#{$grid-gutter-width / 2};
	}
}
.lineup__title {
	font-size: $h6-font-size;
	@include media-breakpoint-up(md) {
		font-size: $h5-font-size;
	}
}
.lineup__mention {
    text-transform: none;
    font-size: 15px;
}

//
// ARTIST (LINEUP)
//

.artist-item {
}
.artist-item__content {
    overflow: hidden;
	position: relative;
	border-bottom: solid 3px var(--pink);
}
.artist-item__link {
	&::after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		background: var(--primary);
		opacity: 0;
		transition: all .3s $easeInOutQuad;
	}
	.artist-item:hover &::after {
		opacity: .7;
	}
}
.artist-item__caption {
	text-align: center;
	position: absolute;
	top: 50%;
	z-index: 1;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
    transition: all .3s ease-in-out;
    opacity: 1;
    .artist-item:hover & {
        opacity: 0;
    }
}
.artist-item__name {
	font-size: $font-size-lg;
	margin-bottom: 0;
	a {
		display: inline-block;
		padding: $spacer * .5;
		background: var(--primary-dark);
		color: #fff;
	}
}
.artist-item__full {
    // position: absolute;
    // bottom: 0;
    // right: 0;
    padding: $spacer / 4 $spacer;
}
.artist-item__cancelled {
    position: absolute;
    top: 19px;
    left: -72px;
    background: map-get($colors, red);
    width: 100%;
    font-size: $h4-font-size;
    font-weight: 700;
    transform: rotate3d(0, 0, 1, -30deg);
}


//
// ARTIST (DETAIL)
//

.artist__full {
    padding: $spacer / 4 $spacer;
}

// Artist cover

.artist-cover {
	position: relative;
	overflow: hidden;
	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, .3);
		box-shadow: inset 0px 0px 200px 30px rgba(0,0,0,0.75);
		// background: linear-gradient(to top, rgba(#f37065, .8) 0%, rgba(#f37065, 0.2) 100%);
	}
}
.artist-cover__content {
	color: #fff;
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}
.artist-cover__img {
	@include media-breakpoint-only(xs) {
		width: 160% !important;
		margin: 0 -30%;
		max-width: 160%;
	}
}
.artist-cover__title {
	@include media-breakpoint-down(sm) {
		font-size: $h2-font-size;
	}
}
.artist-cover__time {
	font-size: $font-size-lg;
}
.artist-cover__meta {
	font-family: $headings-font-family;
	font-weight: bold;
}
.artist-cover__icon {
	fill: #fff;
	margin-right: $spacer * 0.3;
}

.artist-cover__cancelled {
    font-size: $h2-font-size;
    font-weight: 700;
    color: map-get($colors, red);
}

// Back link

.artist-back {
	position: relative;
	z-index: 2;
}
.artist-back__action {
	font-family: $headings-font-family;
	outline: none;
	// &:before {
	// 	margin-right: $spacer;
	// 	display: inline-block;
	// 	vertical-align: middle;
	// 	content: '';
	// 	width: 0;
	// 	height: 0;
	// 	border-right: 0.5em solid;
	// 	border-left: 0.5em solid transparent;
	// 	border-bottom: 0.5em solid transparent;
	// 	border-top: 0.5em solid transparent;
	// }
	// &:focus,
	// &:hover {
	// 	color: #fff;
	// 	background: map-get($soy-colors, 'primary-dark');
	// 	background: var(--primary-dark);
	// }
	// span {
	// 	display: inline-block;
	// 	vertical-align: middle;
	// }
}

// Artist main content

.artist__content {
}
.artist__meta {
	font-family: $headings-font-family;
	font-weight: bold;
}
.artist__time {
	font-size: $font-size-base * 1.2;
}

// Artist side

.artist-side {
	font-family: $headings-font-family;
	// color: map-get($soy-colors, 'primary-dark');
	// color: var(--primary-dark);
}
.artist__related {
    background: $gray-400;
}













// .artists-home-container {
// 	max-width: map-get($container-max-widths, 'sm') + map-get($container-max-widths, 'lg');
// 	padding-top: $spacer * 2;
// 	padding-bottom: $spacer * 2;
// 	@include media-breakpoint-up(xl) {
// 		padding-top: $spacer * 3;
// 		padding-bottom: $spacer * 3;
// 	}
// }

// // Carousel

// .artists-carousel {
// 	padding-left: $spacer * 1.5;
// 	padding-right: $spacer * 1.5;
// 	@include media-breakpoint-up(md) {
// 		padding-left: 60px;
// 		padding-right: 60px;
// 	}
// 	&.flickity-xs-only {
// 		&:after {
// 			@include media-breakpoint-only(xs) {
// 				content: 'flickity';
// 				display: none;
// 			}
// 		}
// 	}
// 	&.flickity-md-down {
// 		&:after {
// 			@include media-breakpoint-down(sm) {
// 				content: 'flickity';
// 				display: none;
// 			}
// 		}
// 	}
// 	.flickity-prev-next-button {
// 		@include media-breakpoint-down(xs) {
// 			@include size(28px);
// 		}
// 		&:focus {
// 			box-shadow: none;
// 		}
// 		&,
// 		&:hover {
// 			background: none;
// 		}
// 		&:hover {
// 			.arrow {
// 				fill: map-get($soy-colors, 'primary');
// 			}
// 		}
// 		&.next {
// 			right: 5px;
// 		}
// 		&.previous {
// 			left: 5px;
// 		}
// 		.arrow {
// 			transition: fill .3s ease-in-out;
// 		}
// 		svg {
// 			left: 0;
// 			top: 0;
// 			width: 100%;
// 			height: 100%;
// 		}
// 	}
// }

// .artists-list-cover {
// 	min-height: 300px;
// }

// .artists-related {
// 	background: lighten(map-get($soy-colors, 'primary-lighter'), 5%);
// 	padding-top: $spacer;
// 	padding-bottom: $spacer;
// 	@include media-breakpoint-up(md) {
// 		padding-top: $spacer * 2;
// 		padding-bottom: $spacer * 2;
// 	}
// }
// .artists-related-title {
// 	font-family: Montserrat, sans-serif;
// 	text-transform: uppercase;
// 	font-size: $h4-font-size;
// 	color: map-get($soy-colors, 'primary-dark');
// 	color: var(--primary-dark);
// 	margin-bottom: $spacer;
// 	@include media-breakpoint-up(md) {
// 		font-size: $h3-font-size;
// 	}
// }
