
.booking-item {
	position: relative;
	color: #fff;
    background: var(--primary-dark);
	min-height: 300px;
	padding: $spacer;
	display: flex;
	align-items: center;
	justify-content: center;
	// margin-bottom: $spacer * 2;
}
.booking-item__date {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: $spacer;
	font-size: 18px;
}
.booking-item__price {
    color: $gray-400;
    font-size: $h5-font-size;
	// color: map-get($soy-colors, 'primary');
 //    color: var('--primary');
}
.booking-item__title {
	font-size: 24px;
	line-height: 1.4;
	a {
		color: #fff;
		&:hover {
            color: var('--primary');
		}
	}
}
.booking-item__action {
	position: absolute;
	bottom: 0;
	left: 0;
    right: 0;
}
