//
// Home
// --------------------------------------------------

.home-cover {
    position: relative;
    //background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 10em;
    // @include media-breakpoint-up(md) {
        height: calc(100vh - 50px);
    // }
    // @include media("<#{map-get($grid-breakpoints, md)}", 'portrait') {
    //     height: 100vh;
    // }
}
.home-cover-text {
    text-transform: uppercase;
    color: #fff;
    font-family: $headings-font-family;
    font-size: $h4-font-size;
    line-height: 1.5;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    padding: $spacer * 2;
    margin-bottom: 0;
    transform: translate(-50%, -50%);
    width: 100%;
    @include media-breakpoint-up(sm) {
        font-size: $h2-font-size;
    }
    @include media-breakpoint-up(md) {
        font-size: $h1-font-size;
    }
}
.home-cover-description {
    font-size: $h6-font-size;
    text-transform: none;
    max-width: 1000px;
    margin: auto;
    @include media-breakpoint-up(sm) {
        font-size: $h5-font-size;
    }
}
.home-booking {
    color: #fff;
    background: var(--primary);
    padding-top: $spacer * 2;
    padding-bottom: $spacer * 2;
    @include media-breakpoint-up(xl) {
        padding-top: $spacer * 3;
        padding-bottom: $spacer * 3;
    }
}
.home-booking-description {
    font-weight: bold;
    font-size: $font-size-lg;
}
.home-booking-action {
    margin-top: $spacer * 1.5;
}
.home-playlist {

}
