
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    @include media-breakpoint-up(md) {
        left: 250px;
    }
    @include media-breakpoint-up(lg) {
        left: 300px;
    }
    @include media-breakpoint-up(xl) {
        left: 350px;
    }
}
.map-nav {
    width: 250px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    @include media-breakpoint-up(lg) {
        width: 300px;
    }
    @include media-breakpoint-up(xl) {
        width: 350px;
    }
    &::-webkit-scrollbar-track {
        background:none;
    }
    &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
        border-left: 0;
        background: rgba(0,0,0,0.1);
    }
    &::-webkit-scrollbar-thumb {
        background: var(--primary);
        border-radius:0;
    }
}
.map-nav__item {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    padding-left: 16px;
    background: $body-bg;
    transition: background .3s $easeOutQuad;
    &:hover {
        background: var(--primary-lighter);
    }
    &.active {
        background: $gray-400;
    }
    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        transform: translate3d(-100%, 0, 0);
        transition: transform .4s $easeOutQuad, opacity .4s $easeOutQuad;
    }
    &::after {
        left: 4px;
        top: 20px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 0 4px 3px;
        border-color: transparent transparent transparent var(--pink);
        transform: translate3d(-200%, 0, 0);
        opacity: 0;
    }
    &::before {
        left: 0;
        top: 0;
        bottom: 0;
        width: 4px;
        background: var(--pink);
    }
    &.active::before,
    &.active::after {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
.map-nav__item--border {
    border-bottom: solid 1px var(--primary-lighter);
}
.map-nav__title {
    font-size: 15px;
    letter-spacing: -.03em;
}
.map-nav__address {
    font-size: 14px;
}
.map-nav__actions {
    display: none;
    .map-nav__item.active & {
        display: block;
    }
}


.mapboxgl-popup-content {
    padding: 0 !important;
}
.mapboxgl-popup-content .mapboxgl-popup-close-button {
    font-family: $font-family-sans-serif;
    top: 0;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transform: scale(1);
    transition: transform .3s $easeOutQuad;
    will-change: transform;
    @include size(24px);
    &:hover {
        transform: scale(1.1);
        background: none;
    }
    &:focus {
        outline: none;
    }
}
.map-info {
    font-family: $font-family-sans-serif;
    width: 300px;
    @include media-breakpoint-up(md) {
        min-width: 300px;
    }
}
.map-info__date {
    font-size: 13px;
    margin-bottom: 3px;
}
.map-info__price {
    margin-top: -3px;
    font-size: 12px;
}
.map-info__place {
    font-size: 15px;
    padding-right: 30px;
}
.map-info__actions {
    position: relative;
    border-top: solid 1px tint(theme-color('primary'), 20%);
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        display: block;
        width: 1px;
        background: tint(theme-color('primary'), 20%);
        z-index: 1;
    }
    a {
        flex: 0 0 50%;
    }
}
