
.news-item__content {
}
.news-item__date {
	font-family: $headings-font-family;
	font-size: $font-size-sm;
}
.news-item__title {
	font-size: $h4-font-size;
	@include media-breakpoint-up(md) {
		font-size: $h3-font-size;
	}
}

